<style type="text/css">
    .header {
        position: absolute;
        top: 0;
        height: var(--header-height);
        width: 100%;
        background-color: white;
        border-bottom: 1px solid #EBEBEB;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header h1 {
        font-family: "Brandon Grotesque", sans-serif;
        font-size: 22px;
        font-weight: 200;
        margin: 0;
    }
    .header h2 {
        font-size: 14px;
        color: var(--text-grey);
        margin: 0;
    }
    /* logo */
    .header > svg {
        height: 24px;
        margin-bottom: 8px;
    }
    #back {
        position: absolute;
        display: none;
        height: 100%;
        align-items: center;
        left: 0;
        padding-left: 16px;
    }
    #back.visible {
        display: flex;
    }
    #settings {
        position: absolute;
        display: <%- title === "ZipShare" || title === "My Profile" ? "flex" : "none" %>;
        height: 100%;
        align-items: center;
        right: 0;
    }
    #settings svg, #back svg {
        height: 24px;
        fill: var(--grey);
    }
    .nav {
        position: absolute;
        bottom: -1px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        height: var(--nav-height);
        align-items: center;
    }
    .nav .bar {
        position: absolute;
        bottom: 0;
        margin-left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
    /* .nav::after {
        content: "";
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        height: 135px;
        width: 100%;
        position: absolute;
        z-index: -2;
    } */
    .nav .bar img {
        transform: scale(0.8);
        transform-origin: bottom;
    }
    .nav .new-button {
        position: absolute;
        bottom: 40px;
        width: 62px;
        height: 62px;
        background-color: var(--primary);
        border-radius: 100%;
        margin: auto;
        left: 0;
        right: 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav .new-button svg {
        height: 28px;
    }
    .nav .nav-btn {
        padding: 16px;
        fill: var(--grey);
    }
    .nav .nav-btn svg {
        height: 32px;
        width: auto;
    }
    .nav #home-btn {
        margin-left: 48px;
        <%- page === 'home' ? 'fill: var(--primary)' : ''%>
    }
    .nav #profile-btn {
        margin-right: 48px;
        <%- page === 'profile' ? 'fill: var(--primary)' : ''%>
    }
    .nav, .header {
        z-index: 5;
    }
</style>

<div class="header">
    <% if (title === "ZipShare") { %> 
        <%- include('../svg/logo') %> 
    <% } else { %> 
        <h1><%- title %> </h1>
    <% } %> 
    <h2>Jester West</h2>
    <div id="back">
        <%- include('../svg/back') %> 
    </div>
    <div id="settings">
        <%- include('../svg/gear') %> 
    </div>
</div>


<div class="nav">
    <div class="bar">
        <img src="images/bar.svg">
    </div>
    <button class="new-button" data-bs-toggle="offcanvas" data-bs-target="#drawer"><%- include('../svg/plus') %> </button>
    <a class="nav-btn" id="home-btn" href="/">
        <%- include('../svg/home.ejs') %>
    </a>
    <a class="nav-btn" id="profile-btn" href="/profile">
        <%- include('../svg/user.ejs') %>
    </a>
</div>

<%- include('./new-post') %> 
<%- include('../components/tutorial') %>

<script>
    const openSlide = () => {
        $('.slide').addClass('in');
        $('#back').addClass('visible');
    }
    const closeSlide = () => {
        $('.slide').removeClass('in');
        $('#back').removeClass('visible');
    }
    $('#back').click(() => {
        closeSlide();
    })
    $('#settings').click(() => {
        tutorialModal.show()
    })

    window.onload = () => {
        const tutorial = localStorage.getItem('tutorial-played');
        if (!tutorial){
          tutorialModal.show()
          localStorage.setItem('tutorial-played',1)
        }
    }

    var initTooltips = () => {
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return bootstrap.Tooltip.getOrCreateInstance(tooltipTriggerEl)
        })
    }
</script>