<style>
    .details {
        padding: 48px 36px;
        max-height: 100%;
        overflow-y: scroll;
    }
    .details h3 {
        font-size: 38px;
        font-family: "Brandon Grotesque", sans-serif;
        font-weight: 300;
    }
    .details img {
        height: 40px;
        border: 1px solid var(--primary);
        margin-right: 10px;
        border-radius: 100%;
    }
    .details .user {
        color: var(--text-grey);
        font-size: 16px;
        margin-bottom: 13px;
    }
    .details .points {
        color: var(--text-primary);
        font-size: 15px;
        margin-bottom: 15px;
    }
    .details .points span {
        font-weight: 600;
    }
    .details .chips div:first-of-type {
        margin-right: 5px!important;
    }
    .details hr {
        border-color: var(--divider);
        opacity: 0.06;
        margin: 24px -8px;
    }
    .details .description {
        font-size: 14px;
    }
    .details .contact {
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .details .reminder {
        color: var(--text-grey);
        font-size: 14px;
        text-align: center;
        font-weight: 300;
        width: 80%;
    }
    .details .actions {
        margin-top: -24px;
    }
    .details .action {
        color: var(--text-grey);
        padding: 18px 12px;
        font-size: 18px;
        margin-left: 12px;
        border-bottom: 1px solid var(--divider);
    }
    .details #confirm {
        color: var(--text-primary);
    }
    .details .actions svg {
        fill: currentColor;
        height: 1em;
        width: 1em;
        margin-right: 1ch;
    }

    /* confirm modal */

    #confirmModal .modal-header, #confirmModal .modal-footer, #deleteModal .modal-header, #deleteModal .modal-footer {
        border: none!important;
    }
    #confirmModal .btn-close, #deleteModal .btn-close {
        opacity: .2;
    }
    #confirmModal .label {
        margin-bottom: 4px;
        display: block;
    }
    #confirmModal .modal-body {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
</style>

<% const firstName = name.split(' ')[0]; %> 
<% const displayPoints = currentUser === username ? create_points : points %> 
<% const otherUsers = users.filter(u => u.username !== currentUser) %> 

<div class="details">
    <h3><%= title %> </h3>
    <div class="points"><span><%- `${displayPoints > 0 ? '+' : ''}${displayPoints}`%> points</span>
        <%- currentUser === username ? 'when fulfilled' : 'for fulfilling' %>
    </div>
    <div class="user">
        <img src="<%- image %>">
        <span><%- name %></span>
        <% if (currentUser === username) { %>
            <span style="font-weight: 300;">(you)</span>
        <% } %>
    </div>
    <div class="d-flex flex-wrap mt-2 chips">
        <%- include('./chip', {category, text: category}); %>
        <%- include('./chip', {category: 'time', text: need_by}); %>
    </div>
    <hr>
    <div class="description"><%= description %> </div>
    <% if (locals.currentUser !== username) { %> 
        <div class="contact">
            <a href="sms:5555555555">
                <%- include('./button', { size: 'large', type: 'primary', text: `contact ${firstName}`}) %>
            </a> 
            <div class="reminder mt-3">
                When you meet, make sure <%- firstName %>  takes a photo and confirms the request fulfillment
            </div>
        </div>
    <% } else { %>
        <hr>
    <div class="actions">
        <div class="action" id="confirm" data-bs-toggle="modal" data-bs-target="#confirmModal">
            <%- include('../svg/check') %> 
            Confirm fullfilment
        </div>
        <div class="action" id="edit" data-bs-toggle="tooltip" title="Editing is not available in this demo">
            <%- include('../svg/pencil') %> 
            Edit
        </div>
        <div class="action" id="delete" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <%- include('../svg/trash') %> 
            Delete
        </div>
    </div>
    <% } %> 
</div>

<!-- Confirm Fulfillment Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Confirm Fulfillment</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>
                <span class="label">Please indicate who fulfilled your posting:</span>
                <%- include('../components/autocomplete',{ id:'fulfilled-user', options: otherUsers })%> 
            </div>
            <div>
                <span class="label">Attach an image showing the fulfillment:</span>
                <input type="file" id="fulfill-image" accept="image/*">
            </input>
            </div>
        </div>
        <div class="modal-footer">
            <%- include('../components/button', {text: 'cancel', size: 'small', type: 'grey', id: 'confirm-cancel'}) %> 
            <%- include('../components/button', {text: 'confirm', size: 'small', type: 'secondary', id: 'confirm-post'}) %> 
        </div>
        </div>
    </div>
</div>

<!-- Delete Post modal -->
<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this post?
        </div>
        <div class="modal-footer">
            <%- include('../components/button', {text: 'cancel', size: 'small', type: 'grey', id: 'delete-cancel'}) %> 
            <%- include('../components/button', {text: 'delete', size: 'small', type: 'secondary', id: 'delete-post'}) %> 
        </div>
        </div>
    </div>
</div>

<script>
    var users = <%- JSON.stringify(users) %>;
    var fulfillmentData = {
        username: "<%- currentUser %>",
    };

    var validateFulfillment = (key,data) => {
        fulfillmentData[key] = data;
        if (fulfillmentData.user && fulfillmentData.image){
            $('#confirm-post').removeClass('disabled');
        }
        else $('#confirm-post').addClass('disabled');
    }

    $('#confirm-cancel').attr('data-bs-dismiss','modal');
    $('#delete-cancel').attr('data-bs-dismiss','modal');
    $('#confirm-post').addClass('disabled');


    var postId = "<%- postId %>";
    $('#delete-post').click(() => {
        $('#delete-post').addClass('loading');
        $.ajax({
            url: `/api/post?id=${postId}`,
            type: 'DELETE',
            success: function(result) {
                window.location.reload();
            },
            error: (err) => {
                console.error('Error in deleting post',err);
                $('#delete-post').removeClass('loading');

            }
        });
    })

    $('#fulfilled-user input').blur(function(evt) {
        const name = $(this).val();
        const user = users.find(u => u.name === name);
        validateFulfillment('user',user);
    })

    $('#fulfill-image').change(function(evt){
        const image = evt.target.files[0]
        validateFulfillment('image',image)
    })

    $('#confirm-post').click(() => {
        $('#confirm-post').addClass('loading');
        $.post('/api/post/fulfill', { id: postId, fulfillUser: fulfillmentData.user.username })
        .then(() => {
            window.location.reload();
        })
        .catch(err => {
            console.error(err)
            $('#confirm-post').removeClass('loading');
        })
    })

    $('input, textarea').on('blur', () => {
        console.log('eee')
        $(window).scrollTop(0);
    })
    
  
</script>
