<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head'); %>
  </head>
  <body>
    <div class="d-flex flex-wrap align-items-center">
      <%- include('../components/chip', {category: 'borrow', text: 'borrow', id: 'test1'}); %>
      <%- include('../components/chip', {category: 'keep', text: 'keep', id: 'test2'}); %>
      <%- include('../components/chip', {category: 'time', text: 'ASAP', id: 'test3'}); %>
      <%- include('../components/chip', {category: 'time', text: Date.now(), id: 'test3'}); %>
      <%- include('../components/button', {text: 'normal', size: 'large', type: 'primary'}) %> 
      <%- include('../components/button', {text: 'small', size: 'small', type: 'primary'}) %> 
      <%- include('../components/button', {text: 'confirm', size: 'small', type: 'secondary'}) %> 
      <%- include('../components/button', {text: 'disabled', size: 'large', type: 'primary', disabled: true}) %> 
      <%- include('../components/button', {text: 'cancel', size: 'small', type: 'grey'}) %> 
      <%- include('../components/button', {text: 'confirm', size: 'small', type: 'secondary',disabled:true}) %> 
    </div>
    <div style="max-width: 350px">
      <%- include('../components/post-card', {title: 'Back massage', category: 'favor', need_by: Date.now(), name: 'Jane Doe', points: 10}) %> 
    </div>
    <%- include('../components/autocomplete',{ id:'test-auto', options: [
      { name: 'John Smith', image: 'https://randomuser.me/api/portraits/lego/1.jpg'},
      { name: 'Bob Smith', image: 'https://randomuser.me/api/portraits/lego/1.jpg'},
      { name: 'Jane Doe', image: 'https://randomuser.me/api/portraits/lego/1.jpg'},
    ]})  %> 
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tutorial">
      Launch demo modal
    </button>
    <%- include('../components/tutorial') %>
  </body>
</html>
