<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head'); %>
    <style type="text/css">
      body {
        background-color: #F3F3F3;
      }
      #top {
        width: 100%;
        background-color: white;
        padding: 24px 36px;
      }
      #profile {
        display: flex;
      }
      #tab-content {
        position: relative;
        display: flex;
        right: 0;
        transition: all .3s ease;
        overflow: hidden;
        flex-grow: 1;
        width: max-content;
      }
      #tab-content[data-tab="history"]{
        right: 100vw;
      } 
      #tab-content > div {
        width: 100vw;
        flex-shrink: 0;
        /* padding-bottom: calc(var(--nav-height) + 48px); */
        overflow-y: scroll;
      }
      #profile img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 2px solid var(--primary);
        margin-right: 20px;
      }
      #profile .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      #profile #name {
        font-size: 24px;
        margin-bottom: 0;
      }
      #profile #points {
        font-size: 15px;
        color: var(--text-primary);
      } 
      #posts {
        padding: 32px 24px 0;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
      }
      #history {
        background: white;
      }
      #history hr {
        color: var(--divider);
        opacity: 1;
        margin: 0 24px;
      }
      .content-container {
        overflow-y: hidden;
        padding-bottom: 0;
      }
      .empty {
        color: var(--text-grey);
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%- include('../components/nav-bars', {page:'profile',title:'My Profile'}); %>
    <div class="content-container">
      <div id="top">
        <div id="profile">
          <img src="<%- image %>">
          <div class="text">
            <h3 id="name"><%- name %></h3>
            <span id="points"><%- points %> points</span>
          </div>
        </div>
      </div>
      <%- include('../components/profile-tabs'); %> 
      <div id="tab-content" class="bottom-shadow">
        <div id="posts" class="scrollable">
          <% if (posts.length === 0) { %>
            <div class="empty">
              No active posts!
            </div>
          <% } %>
          <% posts.forEach(({ category, created, description, id, need_by, title, username, create_points }) => { %>
            <%- include('../components/post-card', {title, category, need_by, name: getFieldFromUser(users,'name',username), points: create_points, id }) %> 
          <% }) %>
          <div class="scroll-spacer"></div>
        </div>
        <div id="history" class="scrollable">
          <hr>
          <% if (history.length === 0) { %>
            <div class="empty mt-4">
              You haven't completed any requests yet!
           </div>
          <% } %>
          <% history.forEach(({ category, username, title, fulfilled_by, fulfilled_date, points, create_points }) => { %>
            <!-- category, username, name, title, fulfilled_by, fufilled_date, points, create_points -->
            <%- include('../components/history-item', { category, username, name: getFieldFromUser(users,'name',username), title, fulfilled_by, fulfilled_date, points, create_points }) %> 
          <% }) %>
          <div class="scroll-spacer"></div>
        </div>
      </div>
    </div>
    <div id="request-details" class="slide"></div>
    
    <script>
      $('.post-card').click(function() {
        $.post('/request-details', { id: $(this).attr('data-post-id') } ,data => {
          $('#request-details').html(data)
          initTooltips();
          openSlide();
        })
      })
    </script>

  </body>
</html>
